/*
FONTS
font-family: 'Martian Mono', monospace;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Montserrat', sans-serif;
*/


/* TAG SELECTORS */

html {
    scroll-padding-top: 55px;  /* to add padding when anchor tag within page section is clicked */
}

body {
    margin: 0px;
}

p {
    margin: 0px;
    font-family: sans-serif;
}

h2 {
    font-size: 2rem;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1.2rem;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* CLASS SELECTORS */
.div1 {
    background-color: #1A120B; 
    text-align: center;
    padding: 50px 0;
}

.div2 {
    background-color: #3C2A21;
    text-align: center;
}

.div3 {
    background-color: #E5E5CB;
    text-align:center;
}

.div4 {
    background-color: #D5CEA3;
    text-align:center;
    padding: 40px;
}

.div5 {
    background-color: #1A120B;
    text-align:center;
    padding: 30px;
}

/*
  ____              _       _                   
 |  _ \            | |     | |                  
 | |_) | ___   ___ | |_ ___| |_ _ __ __ _ _ __  
 |  _ < / _ \ / _ \| __/ __| __| '__/ _` | '_ \ 
 | |_) | (_) | (_) | |_\__ \ |_| | | (_| | |_) |
 |____/ \___/ \___/ \__|___/\__|_|  \__,_| .__/ 
                                         | |    
                                         |_|    
*/

.row {
    margin: auto;
}

/*
  _    _                _           
 | |  | |              | |          
 | |__| | ___  __ _  __| | ___ _ __ 
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
 | |  | |  __/ (_| | (_| |  __/ |   
 |_|  |_|\___|\__,_|\__,_|\___|_|   
                    
*/

.avatar-icon {
    height: 150px;
}

.name-header {
    color: white;
    font-family: 'Martian Mono', monospace;
    font-size: 3rem;
    margin: 15px 0 10px 0;
}

.title-header {
    color: white;
    font-size: 1.3rem;
    font-family: 'Ubuntu Mono', monospace;
}

.title-highlight {
    color: #FEC868;
}

/*
  _____            __ _ _      
 |  __ \          / _(_) |     
 | |__) | __ ___ | |_ _| | ___ 
 |  ___/ '__/ _ \|  _| | |/ _ \
 | |   | | | (_) | | | | |  __/
 |_|   |_|  \___/|_| |_|_|\___|
                                                 
*/

.profile-image {
    max-width: 100%;
}

.profile-content {
    padding: 10% 3%;
}

.profile-header {
    color: #FEC868;
    text-align: center;
}

.profile-text {
    color: #E5E5CB;
    font-size: 20px;
    text-align: justify;
    padding: 3% 5% 0 5%;
}

/*
   _____ _    _ _ _     
  / ____| |  (_) | |    
 | (___ | | ___| | |___ 
  \___ \| |/ / | | / __|
  ____) |   <| | | \__ \
 |_____/|_|\_\_|_|_|___/
                        
*/

.skill-header {
    color: #1A120B;
    font-size: 45px;
    padding: 65px 0;
}

.skill-row {
    display: inline-block;
    width: 50%;
    margin: 0px auto 30px auto;
}

.skill-title {
    color: #1A120B;
}

.skill-description {
    padding: 10px;
    line-height: 2;
}

.skill-image {
    width: 30%;
}

.python-image {
    margin-bottom: 20px;
}

/*
   _____            _             _   
  / ____|          | |           | |  
 | |     ___  _ __ | |_ __ _  ___| |_ 
 | |    / _ \| '_ \| __/ _` |/ __| __|
 | |___| (_) | | | | || (_| | (__| |_ 
  \_____\___/|_| |_|\__\__,_|\___|\__|

*/

.contact-title {
    padding-bottom: 20px;
}

.contact-text {
    padding-bottom: 40px;
}

.contact-btn {
    background: #ada058;
    background-image: -webkit-linear-gradient(top, #ada058, #1A120B);
    background-image: -moz-linear-gradient(top, #ada058, #1A120B);
    background-image: -ms-linear-gradient(top, #ada058, #1A120B);
    background-image: -o-linear-gradient(top, #ada058, #1A120B);
    background-image: linear-gradient(to bottom, #ada058, #1A120B);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.contact-btn:hover {
    background: #a8a074;
    text-decoration: none;
}

/*
  ______          _            
 |  ____|        | |           
 | |__ ___   ___ | |_ ___ _ __ 
 |  __/ _ \ / _ \| __/ _ \ '__|
 | | | (_) | (_) | ||  __/ |   
 |_|  \___/ \___/ \__\___|_|   
                               
*/

.footer-link {
    text-decoration: none;
    color: #E5E5CB;
    padding: 0 15px;
}

.footer-link:hover {
    color: #a8a074;
}

.copywrite-text {
    color: white;
    padding: 10px;
    font-size: 12px;
}