/*
FONTS
font-family: 'Martian Mono', monospace;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Montserrat', sans-serif;
*/


/* TAG SELECTORS */

body, h1 {
    margin: 0px;
}

p {
    margin: 0px;
    font-family: sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

/* CLASS SELECTORS */
.div1 {
    background-color: black; 
    text-align: center;
    padding: 50px 0;
}
 
.div2 {
    background-color: #FDA769;
}

.div4 {
    background-color: #ABC270;
}

.div5 {
    background-color: #473C33;
}

.avatar-icon {
    height: 150px;
    margin-bottom: 20px;
}

.name-header {
    color: white;
    font-family: 'Martian Mono', monospace;
    margin-bottom: 10px;
}

.title-header {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.title-highlight {
    color: #FEC868;
}

